{% extends 'partials/_master.twig' %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('js/sorttable.js', 'theme') }}"></script>
{% endblock %}

{% block main %}
    {% set data = caversearch(record.id) %}
    <div class="container">
        <div class="article-content">
            <h1 class="article-title">{{ record.title }}</h1>
            {{ record.body|markdown }}
            <!-- count total number of committee positions held -->
            {% set counter = 0 %}
            {% for entry in record.committees %}
                {% set counter = counter + entry.positions|length %}
            {% endfor %}
            <!-- Only render for people with at least one position. -->
            {% if counter > 0 %}
                <h2>Committee Positions</h2> 
                <!-- get names of possible committee positions -->
                {% set rolenames = record.contenttype.fields.committees.fields.positions.values %}
                <p>{{ record.title }} has held {{ counter }} committee positions.</p>
                <div class="table-container">
                    <table class="sortable widetable">
                        <tr>
                            <th>Year</th>
                            <th>Role</th>
                        </tr>
                        {% for entry in record.committees %}
                            {% for roleid in entry.positions %}
                                <tr>
                                    <td> 
                                        <a href="../../page/contacts">
                                            {{ entry.year }} — {{ entry.year+1 }}
                                        </a>
                            </td>
                                    <td> {{ rolenames[roleid] }} </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            <h2>Reports</h2>
            <p>{{ record.title }}
                has attended
                {{data['trips']|length}}
                trips.</p>
            <div class="table-container">
                <table class="sortable widetable">
                    <tr>
                        <th>Report</th>
                        <th>Cave</th>
                        <th>Date</th>
                    </tr>
                    {% for trip in data['trips'] %}
                        <tr>
                            <td>
                                <a href="{{ trip['article'].link() }}">{{ trip['article'].title }}</a>
                            </td>
                            <td>
                                {% for cave in trip['caves'] %}
                                    {% if not loop.first %}
                                        >
                                    {% endif %}
                                    <a href="{{ cave.link() }}">{{ cave.name }}</a>
                                {% endfor %}
                            </td>
                            <td>{{ trip['date'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <h2>Authored</h2>
            <p>{{ record.title }}
                has written
                {{data['authored']|length}}
                reports.</p>
            <div class="table-container">
                <table class="sortable widetable">
                    <tr>
                        <th>Report</th>
                        <th>Date</th>
                    </tr>
                    {% for article in data['authored'] %}
                        <tr>
                            <td>
                                <a href="{{ article.link }}">{{ article.title }}</a>
                            </td>
                            <td>{{ article.date|date("Y-m-d") }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <h2>Top Cavers</h2>
            <p>{{ record.title }}
                has caved with
                {{data['cavers']['count']}}
                cavers.</p>
            <div class="table-container">
                <table class="sortable widetable">
                    <tr>
                        <th>Name</th>
                        <th>Trips</th>
                    </tr>
                    {% for caver in data['cavers']['top'] %}
                        <tr>
                            <td>
                                <a href="{{ caver['caver'].link }}">{{ caver['caver'].title }}</a>
                            </td>
                            <td>{{ caver['count'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <h2>Top Caves</h2>
             <p>{{ record.title }}
                has caved in
                {{data['caves']['count']}}
                caves.</p>
            <div class="table-container">
                <table class="sortable widetable">
                    <tr>
                        <th>Name</th>
                        <th>Trips</th>
                    </tr>
                    {% for cave in data['caves']['top'] %}
                        <tr>
                            <td>
                                <a href="{{ cave['cave'].link }}">{{ cave['cave'].title }}</a>
                            </td>
                            <td>{{ cave['count'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock main %}
