{% extends 'partials/_master.twig' %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('js/sorttable.js', 'theme') }}"></script>
{% endblock %}

{% block main %}
    {% set data = caversearch(record.id) %}
    <div class="container">
        <div class="article-content">
            <h1 class="article-title">{{ record.title }}</h1>
            {{ record.body|markdown }}
            <!-- count total number of committee positions held -->
            {% set counter = 0 %}
            {% for entry in record.committees %}
                {% set counter = counter + entry.positions|length %}
            {% endfor %}
            <h2>Badges</h2>
            <div>
                <!-- Automated badges! No point being clever about it.-->
                <!-- BADGE Trip Count-->
                {% if data['trips']|length < 5 %}
                    <img src="/files/photo_archive/badges/auto-badges/trips/trips-1.svg"
                    alt="Trips I" title="Fresher: Attended at least one trip" width="32px" height="32px"></img>
                {% elseif data['trips']|length < 20 %}
                    <img src="/files/photo_archive/badges/auto-badges/trips/trips-5.svg"
                    alt="Trips II" title="Regular: Attended 5+ trips" width="32px" height="32px"></img>
                {% elseif data['trips']|length < 50 %}
                    <img src="/files/photo_archive/badges/auto-badges/trips/trips-20.svg"
                    alt="Trips III" title="Cave Enthusiast: Attended 20+ trips" width="32px" height="32px"></img>
                {% elseif data['trips']|length < 100 %}
                    <img src="/files/photo_archive/badges/auto-badges/trips/trips-50.svg"
                    alt="Trips IV" title="Cave Addict: Attended 50+ trips" width="32px" height="32px"></img>
                {% elseif data['trips']|length < 200 %}
                    <img src="/files/photo_archive/badges/auto-badges/trips/trips-100.svg"
                    alt="Trips V" title="Troglodyte: Attended 100+ trips" width="32px" height="32px"></img>
                {% elseif data['trips']|length >= 200 %}
                    <img src="/files/photo_archive/badges/auto-badges/trips/trips-200.svg"
                    alt="Trips VI" title="Old Lag: Attended 200+ trips" width="32px" height="32px"></img>
                {% endif %}

                <!--BADGE Trip Reports. Ignore 0. -->
                {% if data['authored']|length == 0 %}
                    {# do nothing #}
                {% elseif data['authored']|length < 5 %}
                    <img src="/files/photo_archive/badges/auto-badges/reports/reports-1.svg"
                    alt="Reporter I" title="Reporter I: Written at least one trip report" width="32px" height="32px"></img>
                {% elseif data['authored']|length < 10 %}
                    <img src="/files/photo_archive/badges/auto-badges/reports/reports-5.svg"
                    alt="Reporter II" title="Reporter II: Written 5+ trip reports" width="32px" height="32px"></img>
                {% elseif data['authored']|length < 20 %}
                    <img src="/files/photo_archive/badges/auto-badges/reports/reports-10.svg"
                    alt="Reporter III" title="Reporter III: Written 10+ trip reports" width="32px" height="32px"></img>
                {% elseif data['authored']|length < 50 %}
                    <img src="/files/photo_archive/badges/auto-badges/reports/reports-20.svg"
                    alt="Reporter IV" title="Reporter IV: Written 20+ trip reports" width="32px" height="32px"></img>
                {% elseif data['authored']|length < 100 %}
                    <img src="/files/photo_archive/badges/auto-badges/reports/reports-50.svg"
                    alt="Reporter V" title="Reporter V: Written 50+ trip reports" width="32px" height="32px"></img>
                {% elseif data['authored']|length >= 100 %}
                    <img src="/files/photo_archive/badges/auto-badges/reports/reports-100.svg"
                    alt="Reporter VI" title="Reporter: Written 100+ trip reports" width="32px" height="32px"></img>
                {% endif %}
                
                <!--BADGE Number of caves.-->
                {% if data['caves']['count'] < 5 %}
                    {# do nothing  #}
                {% elseif data['caves']['count'] < 10 %}
                    <img src="/files/photo_archive/badges/auto-badges/caves/caves-5.svg"
                    alt="Explorer I" title="Explorer I: Explored 5+ different caves" width="32px" height="32px"></img>
                {% elseif data['caves']['count'] < 20 %}
                    <img src="/files/photo_archive/badges/auto-badges/caves/caves-10.svg"
                    alt="Explorer II" title="Explorer II: Explored 10+ different caves" width="32px" height="32px"></img>
                {% elseif data['caves']['count'] < 50 %}
                    <img src="/files/photo_archive/badges/auto-badges/caves/caves-20.svg"
                    alt="Explorer III" title="Explorer III: Explored 20+ different caves" width="32px" height="32px"></img>
                {% elseif data['caves']['count'] < 100 %}
                    <img src="/files/photo_archive/badges/auto-badges/caves/caves-50.svg"
                    alt="Explorer IV" title="Explorer IV: Explored 50+ different caves" width="32px" height="32px"></img>
                {% elseif data['caves']['count'] < 150 %}
                    <img src="/files/photo_archive/badges/auto-badges/caves/caves-100.svg"
                    alt="Explorer V" title="Explorer V: Explored 100+ different caves" width="32px" height="32px"></img>
                {% else %}
                    <img src="/files/photo_archive/badges/auto-badges/caves/caves-150.svg"
                    alt="Explorer VI" title="Explorer VI: Explored 150+ different caves" width="32px" height="32px"></img>
                {% endif %}

                <!--BADGE Number of cavers.-->
                {% if data['cavers']['count'] < 10 %}
                    {# do nothing #}
                {% elseif data['cavers']['count'] < 25 %}
                    <img src="/files/photo_archive/badges/auto-badges/cavers/cavers-10.svg"
                    alt="Social I" title="Social I: Caved with 10+ cavers" width="32px" height="32px"></img>
                {% elseif data['cavers']['count'] < 50 %}
                    <img src="/files/photo_archive/badges/auto-badges/cavers/cavers-25.svg"
                    alt="Social II" title="Social II: Caved with 25+ cavers" width="32px" height="32px"></img>
                {% elseif data['cavers']['count'] < 100 %}
                    <img src="/files/photo_archive/badges/auto-badges/cavers/cavers-50.svg"
                    alt="Social III" title="Social III: Caved with 50+ cavers" width="32px" height="32px"></img>
                {% elseif data['cavers']['count'] < 150 %}
                    <img src="/files/photo_archive/badges/auto-badges/cavers/cavers-100.svg"
                    alt="Social IV" title="Social IV: Caved with 100+ cavers" width="32px" height="32px"></img>
                {% elseif data['cavers']['count'] < 200 %}
                    <img src="/files/photo_archive/badges/auto-badges/cavers/cavers-150.svg"
                    alt="Social V" title="Social V: Caved with 150+ cavers" width="32px" height="32px"></img>
                {% else %}
                    <img src="/files/photo_archive/badges/auto-badges/cavers/cavers-200.svg"
                    alt="Social VI" title="Social VI: Caved with 200+ cavers" width="32px" height="32px"></img>
                {% endif %}

                <!-- BADGE Caving Years. Ignore 0. -->
                {% set difference = date(data['trips'][0]['date']).diff(date(data['trips']|last['date'])) %}
                {% set caveyears = difference.days // 365 %} 
                {% if caveyears < 1 %}
                    {# do nothing #}
                {% elseif caveyears == 1 %}
                    <img src="/files/photo_archive/badges/auto-badges/years/years-1.svg"
                    alt="1 year of caving with the club."
                    title="1 year of caving with the club." width="32px" height="32px"></img>
                {% elseif caveyears < 5 %}
                    {# Give years 1 to 5 their own badge, since that'll cover almost all students.  #}
                    <img src="/files/photo_archive/badges/auto-badges/years/years-{{ caveyears }}.svg"
                    alt="{{ caveyears }} years of caving with the club."
                    title="{{ caveyears }} years of caving with the club." width="32px" height="32px"></img>
                {% elseif caveyears < 10 %}
                    <img src="/files/photo_archive/badges/auto-badges/years/years-5.svg"
                    alt="5+ years of caving with the club."
                    title="5+ years of caving with the club." width="32px" height="32px"></img>
                {% elseif caveyears < 15 %}
                    <img src="/files/photo_archive/badges/auto-badges/years/years-10.svg"
                    alt="10+ years of caving with the club."
                    title="10+ years of caving with the club." width="32px" height="32px"></img>
                {% elseif caveyears < 20 %}
                    <img src="/files/photo_archive/badges/auto-badges/years/years-15.svg"
                    alt="15+ years of caving with the club."
                    title="15+ years of caving with the club." width="32px" height="32px"></img>
                {% else %}
                    <img src="/files/photo_archive/badges/auto-badges/years/years-20.svg"
                    alt="20+ years of caving with the club."
                    title="20+ years of caving with the club." width="32px" height="32px"></img>
                {% endif %}

                <!-- And now for the specially awarded badges. -->
                {% set badgenames = record.contenttype.fields.badges.fields.badge_name.values %}
                {% for entry in record.badges %}
                    {# these svgs will have some awful filenames e.g. "For Evans' Sake.svg"... but does it matter in 2020? #}
                    <img src="/files/photo_archive/badges/{{badgenames[entry.badge_name]}}.svg"
                    alt="{{ badgenames[entry.badge_name] }} ({{ entry.year }})"
                    title="{{ badgenames[entry.badge_name] }} ({{ entry.year }})" width="32px" height="32px"></img>
                {% endfor %}
            </div>
            <!-- COMMITEE Only render for people with at least one position. -->
            {% if counter > 0 %}
                <h2>Committee Positions</h2> 
                <!-- get names of possible committee positions -->
                {% set rolenames = record.contenttype.fields.committees.fields.positions.values %}
                <p>{{ record.title }} has held {{ counter }} committee positions.</p>
                <div class="table-container">
                    <table class="sortable widetable">
                        <tr>
                            <th>Year</th>
                            <th>Role</th>
                        </tr>
                        {% for entry in record.committees %}
                            {% for roleid in entry.positions %}
                                <tr>
                                    <td> 
                                        <a href="../page/contacts">
                                            {{ entry.year }} — {{ entry.year+1 }}
                                        </a>
                            </td>
                                    {# WARNING: this might mess up if new roles are prepended to the list of roles,  #}
                                    {# causing every exisiting role to advance by one. #}
                                    <td> {{ rolenames[roleid] }} </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            <h2>Trips</h2>
            <p>{{ record.title }} has attended {{data['trips']|length}} trips. </p>
            <div style="text-align:right"> <a id="detail-view" href="#">Detailed View</a></div>
            <div class="table-container" style="overflow-x:auto;">
                <table class="sortable widetable" id="triptable">
                    <tr>
                        <th>Report</th>
                        <th>Cave</th>
                        <th class="extra-detail" style="display:None; min-width:60ch;">Cavers</th>
                        <th>Date</th>
                    </tr>
                    {% for trip in data['trips'] %}
                        <tr>  
                            <td> <!-- Report -->
                                <a href="{{ trip['article'].link() }}">{{ trip['article'].title }}</a>
                            </td>
                            <td> <!-- Cave -->
                                {% for cave in trip['caves'] %}
                                    {% if not loop.first %}
                                        >
                                    {% endif %}
                                    <a href="{{ cave.link() }}">{{ cave.name }}</a>
                                {% endfor %}
                            </td>
                            <!-- Cavers (hidden). 60ch means around 4 full names per row. -->
                            <td class="extra-detail" style="display:None; min-width:60ch;">  
                                {% for caver in trip['attendees'] %}
                                    <a href="{{ caver.link }}">{{ caver.title }}</a>
                                {% endfor %}
                            </td>
                            <!-- Date -->
                            <td class="date">
                            {{ trip['date'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <p style="text-align:right"><a id="download-trip" href="#">Generate CSV</a></p>
            <h2>Authored</h2>
            <p>{{ record.title }}
                has written
                {{data['authored']|length}}
                reports.</p>
            <div class="table-container">
                <table class="sortable widetable">
                    <tr>
                        <th>Report</th>
                        <th>Date</th>
                    </tr>
                    {% for article in data['authored'] %}
                        <tr>
                            <td>
                                <a href="{{ article.link }}">{{ article.title }}</a>
                            </td>
                            <td class="date">{{ article.date|date("Y-m-d") }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <h2>Top Cavers</h2>
            <p>{{ record.title }}
                has caved with
                {{data['cavers']['count']}}
                cavers.</p>
            <div class="table-container">
                <table class="sortable widetable">
                    <tr>
                        <th>Name</th>
                        <th>Trips</th>
                    </tr>
                    {% for caver in data['cavers']['top'] %}
                        <tr>
                            <td>
                                <a href="{{ caver['caver'].link }}">{{ caver['caver'].title }}</a>
                            </td>
                            <td>{{ caver['count'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <h2>Top Caves</h2>
             <p>{{ record.title }}
                has caved in
                {{data['caves']['count']}}
                caves.</p>
            <div class="table-container">
                <table class="sortable widetable">
                    <tr>
                        <th>Name</th>
                        <th>Trips</th>
                    </tr>
                    {% for cave in data['caves']['top'] %}
                        <tr>
                            <td>
                                <a href="{{ cave['cave'].link }}">{{ cave['cave'].title }}</a>
                            </td>
                            <td>{{ cave['count'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript">
            // Script for displaying detailed trip information and csv generation.     

            document.addEventListener('DOMContentLoaded', function(event) {

                let dl_link = document.getElementById('download-trip');
                let detail_view_btn = document.getElementById('detail-view');
                let show_detail = false;
                
                dl_link.onclick = function(){
                    // CSV Generation and Download
                    // Reads data directly from html table.
                    // Assumes table column order of "Report", "Cave", "Cavers", "Date".

                    let table_rows = document.getElementById("triptable").rows
                    let output_rows = [["Date", "Report", "Cave", "Cavers", "Report URL"]]

                    for (let i = 1; i < table_rows.length; i++) {
                            let rowhtml = table_rows[i].children;

                            // Date, Report, Cave
                            let row_out = [rowhtml[3].innerText, rowhtml[0].innerText, rowhtml[1].innerText];
                            
                            // Cavers. Comma seperated.
                            let caver_a = rowhtml[2].children; // hopefully this is an array of <a>
                            let s = []
                            for (let j = 0; j < caver_a.length; j++) {
                                s.push(caver_a[j].innerText)
                            }
                            row_out.push(s.join("; "));
                    
                            // URL of Trip
                            row_out.push(rowhtml[0].children[0].href);

                            output_rows.push(row_out);
                        }

                    const fname = "{{ record.title }}".split(" ").join("") + "_trips.csv";
                    let csvContent = "data:text/csv;charset=utf-8," 
                        + output_rows.map(e => e.join(",")).join("\n");

                    this.setAttribute("href", encodeURI(csvContent));
                    this.setAttribute("download", fname);
                    this.innerHTML = "Download CSV";

                    // Disable function call after generation - it's only required once.
                    this.onclick = null;
                };
                
                detail_view_btn.onclick = function(){
                    // Display extra information to trips table. Currently this means 
                    // displaying a column showing names of all cavers who attended a trip.

                    show_detail = !show_detail;
                    let extra_tds = document.getElementsByClassName("extra-detail");
                    console.log(extra_tds)
                    for (let i = 0; i < extra_tds.length; i++ ) {
                        extra_tds[i].style.display = show_detail ? "block" : "none";
                    }
                    // Detailed column has x-scrollbar, so give report/cave name more space.

                    let headings = document.getElementById("triptable").rows[0].children

                    headings[0].style.minWidth = show_detail ? "15ch" : "auto";
                    headings[1].style.minWidth = show_detail ? "15ch" : "auto";

                    detail_view_btn.innerHTML = show_detail ? "Reduced View" : "Detailed View";
                    console.log(headings)
                };
            });
        </script>
    {% endblock %}
{% endblock main %}
