{% extends 'partials/_master.twig' %}

{% macro link(article) %}
    {% if article.linkhref is not empty %}
        <a class="footer-button" href="{{ article.linkhref }}">{{ article.linktext }}</a>
    {% elseif article.type not in ['index', 'stickyindex'] %}
        <a class="footer-button" href="{{ article.link }}">More</a>
    {% endif %}
{% endmacro %}

{% macro thumb(photoloc, archiveloc, thumbnail, side = "l") %}
    {% if thumbnail is not empty %}
        <div class="index-thumb{{side}}">
            <a href="{{ photoloc }}/{{ thumbnail|replace({'--thumb': ''}) }}">
                <img alt="Thumbnail of photo from this article" src="{{ archiveloc }}/{{ thumbnail }}">
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro entry(article) %}
    {% set photoloc = photoviewloc(article) %}
    {% set archiveloc = archiveloc(article) %}
    <div class="content-box">
        <div class="content-header">
            <div class="content-left">
                <div>
                    {% if article.type in ['index', 'stickyindex'] %}
                        <a href="#">{{ article.title }}</a>
                    {% else %}
                        <a href="{{ article.link }}">{{ article.title }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="content-right">
                <div>{{ article.date|date("d-m-Y") }}</div>
            </div>
        </div>
        <div class="content">
            {{ _self.thumb(photoloc, archiveloc, article.left_thumbnail, 'l') }}
            <div class="content-summary">
                    {{ article.summary|markdown }}
            </div>
            {{ _self.thumb(photoloc, archiveloc, article.right_thumbnail, 'r') }}
        </div>
        <div class="content-footer">
            {% if galleryexists(article) %}
                <div class="content-footer-left">
                    {{ _self.link(article) }}
                </div>
                <div class="content-footer-right">
                    <a class="footer-button" href="{{ photoloc }}">Photos</a>
                </div>
            {% else  %}
                <div class="content-footer-center">
                    {{ _self.link(article) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block main %}
    {% setcontent stickyindexes = 'articles'  where { type: 'stickyindex' } orderby '-date' %}
    {% setcontent articles = 'articles/latest/10'  where { type: 'trip || tour || index' } orderby '-date' allowpaging %}
    <div class="index-container">
        {% if app.pager.getPager().current == 1 %}
            <div class="content-box">
                <div class="content-header">
                    <div class="content-left">
                        <strong>Recent Trips</strong>
                    </div>
                </div>
                <div class="content">
                    <link rel="stylesheet" href="{{ asset('css/photoreel.css', 'theme') }}">
                    {{ photoreel()|raw }}
                    <script src="{{ asset('js/photoreel.js', 'theme') }}"></script>
                </div>
            </div>
        {% endif %}
        {% if stickyindexes and app.pager.getPager().current == 1 %}
            {% for index in stickyindexes %}
                {{ _self.entry(index) }}
            {% endfor %}
        {% endif %}
        {% if articles %}
            {% for article in articles %}
                {% if article.status != "unlisted" %}
                    {{ _self.entry(article) }}
                {% endif %}
            {% endfor %}
            {{ pager() }}

        {% endif %}
    </div>

{% endblock main %}
