{% extends 'partials/_base.twig' %}

{% set response = dophotos() %}

{% block head %}
    {{ parent() }}
    <style>
    .banner, .left-col {
        display: none;    
    }
    .center-col {
        margin-top: 0;    
    }
    .article-content {
        margin: 20px;
        padding: 0;
        width: auto;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gallery > a {
        margin: 5px 0;
    }
    .stal-img-left, .stal-img-right {
        display: none;
    }
    </style>
{% endblock %}


{% block leftcol %}
{% endblock %}

{% block main %}
<div class="article-content">
    {% if response.status == "200" %}
        {% set images = response.images %}
        {% set directories = response.directories %}
        {% set breadcrumbs = response.breadcrumbs %}
        <nav>
        <a href="{{ siteurl}}" >ICCC</a> / <a href="{{ siteurl}}/photos" >photos</a>
        {% for dir in response.breadcrumbs  %}
           / <a href="{{ siteurl}}/photos/{{ dir.url }}" >{{ dir.name }}</a>  
        {% endfor %}
        </nav>
        {% if directories is not empty %}
        <h2>Sub-directories</h2>
        <ul>
        {% for dir in response.directories  %}
            <li><a href="{{ siteurl}}/photos/{{ dir.url }}" >{{ dir.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if images is not empty %}<h2>Images</h2>{% endif %}
        <div class="gallery">
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>
                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>
                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>
            <link rel="stylesheet" href="{{ asset('css/photoswipe/photoswipe.css', 'theme') }}"> 
            <link rel="stylesheet" href="{{ asset('css/photoswipe/default-skin.css', 'theme') }}"> 
            <script src="{{ asset('js/photoswipe/photoswipe.min.js', 'theme') }}"></script> 
            <script src="{{ asset('js/photoswipe/photoswipe-ui-default.min.js', 'theme') }}"></script> 
            {% for image in images  %}
            <a href="{{ siteurl }}/photo_archive/{{ image.orig.url }}" class="image" data-index="{{ loop.index0 }}">
                <img src="{{  siteurl  }}/photo_archive/{{ image.thumb.url }}" />
            </a>
            {% endfor %}
                <script>
                    const slides = [
                        {% for image in images %}
                            {
                                src: '{{ siteurl }}/photo_archive/{{ image.image.url }}',
                                w: {{ image.image.info[0] }}, // image width
                                h: {{ image.image.info[1] }}, // image height
                                msrc: '{{ siteurl }}/photo_archive/{{ image.thumb.url }}',
                                title: 'title',
                                orig: '{{ siteurl }}/photo_archive/{{ image.orig.url }}',
                                pid: '{{ image.image.url|split('/')|last }}'
                            },
                        {% endfor %}
                        ]
                    const pswpElement = document.querySelectorAll('.pswp')[0];
                    const loadGallery = index => {
                        const options = { 
                            index: index,
                            addCaptionHTMLFn: function(item, captionEl, isFake) {
                                console.log(captionEl)
                                captionEl.children[0].innerHTML = `<div style="text-align:center;"><a target="_blank" href="${item.orig}">Original Size</a></div>`
                                return true;
                            },
                            shareEl: false
                        };
                        const gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, slides, options);
                        gallery.init();
                    }
                    Array.from(document.querySelectorAll('.image')).forEach(image => image.addEventListener('click', event => {
                        event.preventDefault();
                        loadGallery(parseInt(event.target.closest('.image').dataset.index, 10));
                    }))
                    const filename = window.location.pathname.substring(window.location.pathname.lastIndexOf('/')+1);
                    if (filename.includes('.')) {
                           loadGallery(slides.findIndex(s => s.pid === filename ))
                    }
                </script>
        </div>
        {% elseif response.status == "202" %}
            <style>
                .article-content {
                    margin: auto;
                    width: 800px;
                }
            </style>
            <p>The photos are now processing. Click <a href="{{ app.request.server.get('REQUEST_URI')|replace({'?generate':''}) }}">here</a> to see your photos. They might take a while but you should see them appear gradually if you refresh.</p>
        {% else %}
            {{ include('partials/_not_found.twig') }}
        {% endif %}
</div>
{% endblock main %}

{% block footer %}
    {{ parent() }}
    {% if user is not empty and response.directory is not empty and response.status == "200" %}
    <div class="logged-in">
        Hello {{ user.displayname }}. <a href="{{ app.config.get('general/siteurl') }}{{ app.config.get('general/branding/path') }}/files/files/photo_archive/{{ response.directory }}">Upload more photos</a>?
    </div>
    {% endif %}
{% endblock %}
