{% extends 'partials/_master.twig' %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/wiki.css', 'theme') }}">
<script src="{{ asset('js/wiki.js', 'theme') }}"></script>
{% endblock %}

{% block main %}
{% setcontent wikis = 'wikis' orderby 'path' %}
{% setcontent home = 'wikis' where { title: 'Home' } returnsingle %}
<div class="article-content">
    <h1 class="article-title">Wiki</h1>
    {% if user is not empty %}
    <div class="wiki-admin">
        <a target="_blank" class="wiki-button" href="{{ app.config.get('general/siteurl') }}{{ app.config.get('general/branding/path') }}/editcontent/wiki">New wiki page</a>
        <a target="_blank" class="wiki-button" href="{{ app.config.get('general/siteurl') }}{{ app.config.get('general/branding/path') }}/editcontent/wiki/{{ home.id }}">Edit homepage</a>
    </div>
    {% else %}
    <p>Log in for wiki controls</p>
    {% endif %}
    <nav class="wiki-nav">
        <div style="display: none">
            {% for wiki in wikis %}
            {% if not wiki.private or user is not empty %}
            <div>
                {% set path = '' %}
                {% if wiki.path is not empty %}
                {% for pathbit in wiki.path|split('/') %}
                {% set path = path ~ '/' ~ pathbit %}
                {{ pathbit }} / 
                {% endfor %}
                {% endif %}
                <a href="{{ wiki.link}}">{{ wiki.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </nav>
    {{ home.body|headerids }}
</div>
{% endblock %}

{% block edit %}
{% endblock %}
