
<div style="overflow-y: auto; overflow-x: hidden; height: 100%; display: flex; flex-flow: column nowrap;">
    {% block sidebar %}
    <hr class="hrsidebartop">

    <div class="sidebar-content-box">
        <div class="sidebar-item">
            <a href="{{ siteurl }}/">Home</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}/page/clubinfo">Club Info</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}/page/clubinfo#faq">FAQ</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}/page/contacts">Contacts</a>
        </div>
    </div>

    <hr class="hrsidebar">

    <div class="sidebar-content-box">
        {% set trips = tripsByAcademicYear() %}
        <div class="sidebar-item expandable-menu">
            <a href="{{ siteurl }}/archives.html" onclick="return false;">Trips</a>
        </div>
        <div class="sidebar-outer collapsed">
            <div class="sidebar-inner nodisplay">
                {% for year, yeartrips in trips %}
                <div class="sidebar-sub-item expandable-menu">
                    <a href="{{ siteurl }}/archives.html" onclick="return false;">{{ year }}</a>
                </div>
                <div class="sidebar-outer collapsed">
                    <div class="sidebar-inner nodisplay">
                        {% for trip in yeartrips %}
                        <div class="sidebar-sub-sub-item">
                            <a href="{{ trip.link }}">{{ trip.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% setcontent tours = 'articles' where { type: 'tour'} orderby '-date' %}
        <div class="sidebar-item expandable-menu">
            <a href="{{ siteurl }}/archives.html" onclick="return false;">Tours</a>
        </div>
        <div class="sidebar-outer collapsed">
            <div class="sidebar-inner nodisplay">
                {% for tour in tours %}
                <div class="sidebar-sub-sub-item">
                    <a href="{{ tour.link }}">{{ tour.title }}
                        {{ tour.date|date("Y") }}</a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="sidebar-item expandable-menu">
            <a href="{{ siteurl }}/archives.html" onclick="return false;">Expeditions</a>
        </div>
        <div class="sidebar-outer collapsed">
            <div class="sidebar-inner nodisplay">
                <div class="sidebar-sub-sub-item">
                    <a href="{{ siteurl }}/slovenia/">Slovenia</a>
                </div>
                <div class="sidebar-sub-sub-item">
                    <a href="{{ siteurl }}/newzealand/">New Zealand 2015</a>
                </div>
                <div class="sidebar-sub-sub-item">
                    <a href="{{ siteurl }}/old/morocco/expo2001/report.php">Morocco 2001</a>
                </div>
                <div class="sidebar-sub-sub-item">
                    <a href="{{ siteurl }}/old/morocco/recce99/morocco99.php">Morocco 1999</a>
                </div>
                <div class="sidebar-sub-sub-item">
                    <a href="{{ siteurl }}/old/expeditions/">Expeditions Pre-1994</a>
                </div>
            </div>
        </div>

        <div class="sidebar-item">
            <a href="{{ siteurl }}/photos/">Photos</a>
        </div>
    </div>

    <hr class="hrsidebar">

    <div class="sidebar-content-box">
        <div class="sidebar-item">
            <a href="{{ siteurl }}/caves/">Caves</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}/cavers/">Cavers</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}/page/library">Library</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}/wiki/">Wiki</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}{{ config.get('general/branding/path') }}">Administration</a>
        </div>
    </div>

    <div id="sidebar-fill" class="sidebar-content-box"></div>
    <div class="sidebar-content-box">

        <div class="sidebar-item">
            <a href="mailto:ic.caving@gmail.com">Email Us</a>
        </div>
        <div class="sidebar-item">
            <a href="{{ siteurl }}/old/index.php">Legacy Site</a>
        </div>
    </div>
    {% endblock sidebar %}
</div>